@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body{
  overflow: hidden;
}
.dark{
  canvas{
    background-color: black;
  }
  h1,h2{
    border-color: white;
    color: white;
  }
  .mediaPlayer{
    background: rgba(255, 255, 255, 0.09);
  }
  .songList{
    background: rgba(255, 255, 255, 0.09);
    color: white;
  }
}
canvas{
  background-color: azure;
  width: 100vw;
  height: 100vh;
}
.mediaPlayer{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 15rem 3rem 8rem 3rem; */
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
}


/* .controllBtn{
  width: fit-content;
  padding: 0.1rem 1rem;
  border: 1px solid black;
  border-radius: 8rem; 
} */
/* .playBtn:hover{
  background-color: white;
  color: #000000;
} */

#songSlider{
  width: 10rem;
}

.songImage{
  width: 12rem;
  height: 12rem;
  border-radius: 5rem;
  object-fit: cover;
}

.songList{
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.slider{
  -webkit-appearance: none;
  width: 100%;
  height: 0.4rem;
  background-color: whitesmoke;
  border-radius: 3rem;
}
.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 3rem;
  background-color: #f57c00;
  cursor: pointer;
}
.slider::-moz-range-thumb{
  width: 1rem;
  height: 1rem;
  background-color: #f57c00;
  cursor: pointer;
}

.Control {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 14rem;
  padding-block: 0.75rem;
  touch-action: none;
  user-select: none;
}

.Track {
  width: 100%;
  height: 0.25rem;
  background-color: var(--color-gray-200);
  box-shadow: inset 0 0 0 1px var(--color-gray-200);
  border-radius: 0.25rem;
  user-select: none;
}

.Indicator {
  border-radius: 0.25rem;
  background-color: var(--color-gray-700);
  user-select: none;
}

.Thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: white;
  outline: 1px solid var(--color-gray-300);
  user-select: none;

  &:focus-visible {
    outline: 2px solid var(--color-blue);
  }
}
